<!DOCTYPE html>
<html>

   <head>
      <link rel="icon" type = "image/jpg" href="../static/images/icon-nobg.png">
      <title> Praetor: Registration Error </title>
   </head>

   <body>
      <div style="text-align: center;"> <img style="text-align:center;" src="../static/images/icon-nobg.png" height="60px"> </div>
      <div style="background-color: gray;">
      <h1 style="text-align: center;"> USERNAME ALREADY EXISTS, PLEASE RETRY </h1>
      <h1 style="text-align: center;"> <a href="https://praetor.onrender.com/register"> Login </a> </h1>
   </body>
   
</html>