<!DOCTYPE html>
<html>

   <head>
      <link rel="icon" type = "image/jpg" href="../static/images/icon-nobg.png">
      <title> Praetor Registration </title>
   </head>

   <body>
      <div style="text-align: center;"> <img style="text-align:center;" src="../static/images/icon-nobg.png" height="60px"> </div>
      <div>
         <h1 style="text-align:center;"> <a href="/home"> Home </a> <br> <br> <a href="/login"> Login </a></h1>
      </div>
      <hr>
      <div style="text-align:center;">
         <form method="post">
            <label>
            Username:
            <input type="text" name="username" required>
            </label>
            <br> <br>
            <label>
            Password:
            <input type="password" name="password" required>
            </label>
            <br>
            <br>
            <input type="submit">
         </form>
      </div>
   </body>
   
</html>