<!DOCTYPE html>
<html>
   <head>
      <link rel="icon" type = "image/jpg" href="/static/images/icon-nobg.png">
      <title> Praetor: {{user}}</title>
   </head>
   <body>
      <div style="text-align: center;"> <img style="text-align:center;" src="/static/images/icon-nobg.png" height="60px"> </div>
      <div>
         <h1 style="text-align:center; font-weight:normal;"> <a href="/home"> <b>Home </b> </a> <br> <br> <a href="/users/{{user}}"><b>{{user}} </b></a> </h1>
      </div>
      <hr>
      <button id="gen"> Generate Password </button>
      <p id="box"> </p>
      <button id="copier"> Copy </button>
      <script>
         gen_button = document.getElementById("gen")
         box = document.getElementById("box")
         copier = document.getElementById("copier")

         let textocopy
         function ifClicked()
         {
            const chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            var output =  Array.from({ length: 12 }, () => chars[Math.floor(Math.random() * chars.length)]).join('');
            box.innerHTML = output
            textocopy = output
         }
         function toCopy()
         {
            navigator.clipboard.writeText(textocopy)
         }

         gen_button.addEventListener("click", ifClicked)
         copier.addEventListener("click", toCopy)
      </script>
      <div style="text-align:center">
         <table style="width:100%; border: 2px solid black; border-collapse:collapse">
            <tr>
               <td style="border: 2px solid black;"> <b> Website</b> </td>
               <td style="border: 2px solid black;"><b> Password </b></td>
            </tr>
            {% for i in range(len) %}
            <tr id="{{i}}">
               <td style="border: 2px solid black;"> {{website[i]}} </td>
               <td style="border: 2px solid black;"> {{passwords[i]}} <button id="b{{i}}"> Copy </button> <button id="d{{i}}"> Delete </button></td>
               <script>
                  copy_button = document.getElementById("b{{i}}")
                  function onClick()
                  {
                      navigator.clipboard.writeText("{{passwords[i]}}")
                  }
                  copy_button.addEventListener("click", onClick)    
                  
                  delete_button = document.getElementById("d{{i}}")
                  function deleteItem()
                  {
                      fetch("https://praetor.onrender.com/users/{{user}}/showpasses", {headers: {"Content-Type": "application/json"}, method: "DELETE", body: JSON.stringify({website1: "{{website[i]}}", password1: "{{passwords[i]}}"})})
                      document.getElementById("{{i}}").remove()
                  }
                  delete_button.addEventListener("click", deleteItem)
               </script>
            </tr>
            {% endfor %}
         </table>
      </div>
   </body>
</html>